*{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
}

a{
    color: white;
}

button{
    background-color: #3882f6;
    border: 0;
} 

h1{
    color: #f9faf8;
    font-size: 24px;
}

.hero-main-text{
    font-size: 48px;
    font-weight: 900;
}

.top{
    display: flex;
    
}