*{
    font-family: 'Roboto', sans-serif;
}

.header-main-text{
    font-size: 24px;
    color: #f9faf8;
}
.hero{
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    
}

.header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    
}

.image-right{
    width: auto;
    height: auto;
    
}



.section{
    
    display:flex;
    flex-direction: column;
    
}

.bottom{
    display: flex;
    justify-content: space-between;
    
    
    
}

.left-hero{
    max-width: 400px;

    
}

.nav-bar{
    display: flex;
    gap: 20px;
}




.container{
    width:1100px;
    
    
    
    
}



a{
    color: white;
    text-decoration: none;
}

button{
    background-color: #3882f6;
    border: 0;
} 

h1{
    color: #f9faf8;
    font-size: 48px;
}

.hero-main-text{
    font-size: 48px;
    font-weight: 900;
}